body {
    background-color: black;
    color: white;
}

.nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: white;
    margin: auto;
}

.nav li {
    display: inline-block;
}

.nav li a {
    color: white;
    text-decoration: none;
    text-transform: uppercase;
}

.container-1 {
    background-image: url("https://content.codecademy.com/courses/freelance-1/unit-4/img-mission-background.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    position: relative;
    height: 700px;
    margin: 0;
}

.mission {
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%)
}

.mission-p {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%)
} 


